.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  &__imageSection {
    height: 100%;
    width: 50%;
    &__imageContainer {
      width: 95%;
      height: 90%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__multipleImageContainer {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        &__left {
          width: 50%;
          &__image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 3%;
          }
        }
        &__right {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          &__image {
            object-fit: contain;
            height: 50%;
            width: 100%;
            border-radius: 3%;
          }
        }
      }
      &__singleImageContainer {
        width: 100%;
        height: 30%;
        &__image {
          object-fit: cover;
          height: 100%;
          border-radius: 3%;
        }
      }
    }
  }
  &__formSection {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__formContainer {
      background-color: #eeeeee;
      width: 400px;
      height: 480px;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 20px 0;
      }
      &__logo {
        width: 13rem;
      }
      &__form {
        margin-top: 1.25rem;
        &__formItem {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          margin-bottom: 1.25rem;
          &__label {
            color: #848484;
          }
          &__input {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: #d9d9d9;
          }
        }
      }
    }
    &__formRegisterContainer {
      background-color: #eeeeee;
      width: 400px;
      height: 550px;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 20px 0;
      }
      &__logo {
        width: 13rem;
      }
      &__form {
        margin-top: 1.25rem;
        &__formItem {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          margin-bottom: 1.25rem;
          &__label {
            color: #848484;
          }
          &__input {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: #d9d9d9;
          }
        }
      }
    }
  }
}
